<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucas.myfirstapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Hitchhike"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Hitchhike_v1">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            >
        </activity>
        <activity
            android:name=".SigningUp"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_Activity"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LoggingIn"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_Activity"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".HomePage" />
        <activity
            android:name=".Drive_Page"
            android:parentActivityName=".HomePage">
            <meta-data
                android:name="android.support.PARENT_Activity"
                android:value=".HomePage" />
        </activity>
        <activity
            android:name=".Ride_Page"
            android:parentActivityName=".HomePage">
            <meta-data
                android:name="android.support.PARENT_Activity"
                android:value=".HomePage" />
        </activity>
        <activity
            android:name=".Profile_Page"
            android:parentActivityName=".HomePage">
            <meta-data
                android:name="android.support.PARENT_Activity"
                android:value=".HomePage" />
        </activity>
        <activity
            android:name=".RideFilters"
            android:parentActivityName=".Ride_Page">
            <meta-data
                android:name="android.support.PARENT_Activity"
                android:value=".RidePage" />
        </activity>
        <activity android:name=".EditProfile"
            android:parentActivityName=".Profile_Page">
            <meta-data
                android:name="android.support.PARENT_Activity"
                android:value=".Profile_Page" />
        </activity>
    </application>

</manifest>